.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.form-card {
  margin-right: 2%;
  height: 85vh;
}

mat-tab-group {
  max-height: 85vh;
  width: 100%;
  overflow: hidden;
}
