<br>
<label><b>Available Labels:</b></label>
<div id="labelList" class="label-list">
  <div class="label-box" *ngFor="let label of labelService.labels">
    <h4 mat-line><b>Label {{label.id}}</b> | <em>{{label.macAdres}}</em></h4>
    <p mat-line> (X, Y) : ({{label.posX}}, {{label.posY}})</p>
  </div>
</div>
<br>
<label><b>Connected Label:</b></label>
<div id="labelList" class="label-list">
  <div class="label-box" *ngFor="let label of labelService.esls">
    <h4 mat-line><b>Label {{label.id}}</b> | <em>{{label.macAdres}}</em></h4>
    <p mat-line> (X, Y) : ({{label.posX}}, {{label.posY}})</p>
  </div>
</div>
